/*Variables */
 :root {
     --basic-white:#FFFFFF;
     --basic-black:#000000;
     --basic-black-light:rgba(0, 0, 0, 0.3);
     --basic-black-lighten:rgba(0, 0, 0, 0.25);
     --basic-black-ultra-light:rgba(0, 1, 1, 0.15);
     --basic-extra-dark:#333333;
     --basic-neutral:#EEEEEE;
     --basic-blue-light:#81B3D2;
     --basic-grey-light-neutral:rgba(255, 255, 255, 0.9);
     --basic-grey-light-ultra-neutral:rgba(255, 255, 255, 0.3);
     --basic-grey:#666666;
     --basic-grey-light:#BDBBBC;
     --basic-grey-lighten:#E5E5E5;
     --basic-grey-special:#CACACA;
    /*стрелки*/
     --basic-grey-calm:#A9A9A9;
     --basic-grey-dark:#6A6A6A;
     --basic-grey-ultra:#ABABAB;
     --basic-grey-ultra-light:rgba(171, 171, 171, 0.3);
    /*Button*/
    /*для блока "Поиск гостиниц в Седоне и коричневых кнопок*/
     --basic-brown:#604E43;
    /*наведение*/
     --basic-brown-light:#766357;
    /*покой*/
     --basic-brown-dark:#503E33;
    /*нажатие*/
     --brown-ultra-light:#F2F2F2;
    /*окно подложка покой + рейтинг*/
     --brown-ultra-lighten:#EBEBEB;
    /*окно подложка наведение*/
    /*для голубых кнопок*/
     --basic-blue-light:#81B3D2;
     --basic-blue:#669EC0;
     --basic-blue-dark:#5496BD;
}
 body {
     position: relative;
     z-index: 1;
     min-width: 1200px;
     margin: 0;
     padding: 0;
     font-family: "PT Sans", Arial, sans-serif;
     font-size: 14px;
     line-height: 21px;
     font-weight: 400;
     color: var(--basic-black);
     text-transform: uppercase;
     background-color: var(--basic-white);
     background-repeat: no-repeat;
}
 img {
     max-width: 100%;
     height: auto;
}
 a {
     text-decoration: none;
}
 .visually-hidden {
     position: absolute;
     width: 1px;
     height: 1px;
     margin: -1px;
     border: 0;
     padding: 0;
     white-space: nowrap;
     clip-path: inset(100%);
     clip: rect(0 0 0 0);
     overflow: hidden;
}
/*Main-header*/
 .main-header {
     width: 1200px;
     justify-self: center;
     min-height: 56px;
}
 .main-header-logo {
     position: absolute;
     z-index: 4;
}
 .background-banner {
     position: relative;
     z-index: 2;
}
 .image {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     position: relative;
     background: url("../img/welcome.png") no-repeat;
     background-size: 457px 351px;
     z-index: 3;
}
 .image::after {
     content: "";
     background: url("../img/shape.png") no-repeat;
     width: 1200px;
     height: 57px;
     position: absolute;
     bottom: 0;
     z-index: 3;
}
/*Main-navigation*/
 .main-navigation {
     font-size: 14px;
     line-height: 26px;
     font-weight: 700;
     color: var(--basic-black);
     background-color: transparent;
}
/* User navigation */
 .main-navigation {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     align-items: center;
     margin: 0;
     padding: 0;
}
 .site-navigation a {
     color: var(--basic-black);
     width: 300px;
}
 .site-navigation-item a {
     text-decoration:none;
}
 .site-navigation-item a:hover {
     color: var(--basic-blue-light);
}
 .site-navigation-item a:active {
     color:var(--basic-black);
     opacity: 0.3;
}
 .site-navigation-item-hotels a {
     color: var(--basic-brown-light);
}
 .site-navigation {
     list-style: none;
     display: flex;
     flex-wrap: wrap;
     padding: 0;
}
 .site-navigation-item-left {
     text-align: left;
     width: 300px;
}
 .site-navigation-item-right {
     text-align: right;
     width: 300px;
}
 .site-navigation-current a:not([href]) {
     background-color: var(--basic-white);
}
 .site-navigation-item-right:last-child a {
     padding-right: 72px;
}
 .site-navigation-item-left:first-child a {
     padding-left: 72px;
}
/*container main */
 .container {
     width: 1200px;
     margin: 0 auto;
     padding: 0;
}
 .page-index {
     text-align: center;
}
/*Subtitle*/
 .subtitle {
     text-align: center;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     height: 216px;
     padding: 0;
}
 .subtitle p {
     width: 1200px;
     margin: 0;
}
 .subtitle-title {
     margin: 42.5px 365px 16.5px;
     font-size: 21px;
     line-height: 26px;
     min-height: 80px;
}
/* Features */
 .tourism-item {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: flex-start;
}
 .section-title {
     font-size: 21px;
     line-height: 21px;
}
 .section-title-house::before {
     content: "";
     background: url("../img/icon-house.svg") no-repeat;
     width: 75px;
     height: 72px;
     display: block;
     margin: 11px 0 28px 0;
}
 .section-title-food::before{
     content: "";
     background: url("../img/icon-food.svg") no-repeat;
     width: 75px;
     height: 70px;
     display: block;
     margin: 12px 0 28px 0;
}
 .section-title-souvenirs::before{
     content: "";
     background: url("../img/icon-souvenirs.svg") no-repeat;
     width: 64px;
     height: 77px;
     display: block;
     margin: 8px 0 28px 20px;
}
 .features-list, .tourism-list {
     list-style: none;
     margin: 0;
}
 .features-list {
     margin: 0;
     padding: 0;
}
 .feature-item {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
}
 .feature-item-content {
     background-color: var(--basic-neutral);
     display: flex;
     flex-wrap: wrap;
     margin: 0;
     padding: 0;
}
 .feature-item-one, .feature-item-two {
     background-color: var(--basic-blue-light);
     color: var(--basic-white);
}
/*button общие критерии*/
 .button{
     font: inherit;
     text-align: center;
     vertical-align: middle;
     text-transform: uppercase;
     border: none;
}
/* footer*/
 .main-footer {
     background-color: var(--basic-grey-light-neutral);
     color: var(--basic-black);
     line-height: 26px;
     width: 1200px;
     justify-self: center;
}
/*contacts-phone*/
 .contacts-phone {
     color: inherit;
}
 .footer-contacts {
     font-size: 21px;
     font-weight: 700;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
     margin: 14px 0 0 70px;
}
 .footer-contacts p {
     margin: 0;
     padding-top:9px;
}
/*footer-social соц сети*/
 .footer-social ul {
     list-style: none;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin: 0 auto;
     padding: 0;
}
/* Social button */
 .social-button {
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: center;
     width: 46px;
     height: 48px;
     background-color: var(--basic-blue-light);
     color: inherit;
     margin: 36px 3px;
}
 .social-button:hover {
     background-color: var(--basic-blue);
}
 .social-button:active {
     background-color: var(--basic-blue-dark);
}
 .social-button:active path {
     opacity: 0.3;
}
/*footer-copyright*/
 .footer-copyright {
     font-size: 14px;
     font-weight: 400;
}
 .copyright {
     list-style: none;
     color: var(--basic-black);
}
 .copyright:hover path {
     fill: var(--basic-blue-light);
}
 .copyright:active path {
     fill:var(--basic-grey-light);
}
/*Модальные окна*/
 .modal-application-search {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
}
 .figure-days {
     display:flex;
     flex-wrap: wrap;
     justify-content: space-between;
}
 .figure-days label, .figure-people label {
     margin-top: 5px;
}
 .appointment-form input {
     font-size: 14px;
     line-height: 26px;
     font-weight: 700;
     text-transform:uppercase;
}
 .appointment-form{
     padding: 55px;
}
 .window-metrics{
     background: var(--brown-ultra-light);
     width: 346px;
     height: 38px;
     border:none;
     margin-bottom: 29px;
     display: flex;
     justify-content: space-between;
}
 .figure-people {
     display: flex;
}
 .figure-adults{
     display: flex;
     justify-content: flex-start;
     width: 50%;
}
 .figure-children {
     display: flex;
     justify-content: flex-end;
     width: 50%;
}
 .figure-adults label {
     padding-right: 40px;
}
 .figure-children label {
     padding-right: 27px;
}
 .figure-person{
     background: var(--brown-ultra-light);
     width: 114px;
     height: 38px;
     display: flex;
     align-items: center;
}
 .figure-person input {
     text-align: center;
     border:none;
     background-color: transparent;
     outline: inherit;
     flex-grow: 1;
     max-width: 38px;
     height: 100%;
     padding: 0;
}
 .window-metrics input {
     color:var(--basic-black);
     text-align: left;
     border:none;
     width: 100%;
     background-color: transparent;
     padding-left: 13px;
     padding-right: 10px;
}
 .window-metrics input, .figure-people input {
     background-color: var(--brown-ultra-light);
}
 .window-metrics input:hover, .figure-people input:hover {
     background-color:var(--brown-ultra-lighten);
}
 .window-metrics input:focus, .figure-people input:focus {
     background-color: var(--basic-white);
     outline: inherit;
     outline: 2px solid var(--basic-grey-lighten);
     outline-offset:-2px;
}
 .appointment-form {
     font-size: 14px;
     line-height: 26px;
     font-weight: 700;
}
 .calendar {
     transform: translate(315px,7px);
     position: absolute;
}
 .calendar:focus {
     box-shadow: 0 0 var(--basic-black) 2px;
}
 .window-metrics svg {
     color:var(--basic-grey-calm);
}
 .window-metrics svg:hover path {
     fill:var(--basic-black);
}
 .window-metrics svg:active path {
     fill: var(--basic-blue-light);
}
 .enlarge {
     border: none;
     width: 12px;
     padding: 0;
     margin: 0 13px;
}
 .enlarge-minus {
     padding-bottom: 5px;
}
 .enlarge :focus{
     outline: inherit;
}
 .enlarge svg {
     color:var(--basic-grey-calm);
}
 .enlarge svg:hover path {
     fill:var(--basic-black);
}
 .enlarge svg:active path {
     fill: var(--basic-blue-light);
}
 .enlarge svg:hover rect {
     fill:var(--basic-black);
}
 .enlarge svg:active rect {
     fill: var(--basic-blue-light);
}
/*Убрать стрелки для браузера Google Chrome:*/
 input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
     -webkit-appearance: none;
     margin: 0;
}
/*Убрать стрелки для браузера Firefox:*/
 input[type="number"] {
     -moz-appearance: textfield;
}
 input[type="number"]:hover, input[type="number"]:focus {
     -moz-appearance: number-input;
}
/*Убрать стрелки Для других браузеров */
 input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none;
     margin: 0;
}
/*страница 2 Внутренняя */
/*filter-search*/
 .filter-search-bar{
     position: relative;
}
 .filter-search {
     color: var(--basic-white);
     width: 1200px;
     min-height: 217px;
     background:var(--basic-blue-dark) url("../img/background.png");
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}
 .filter-list {
     list-style: none;
}
 .filter-option label {
     width: 97px;
}
 .price-controls {
     border: 2px solid var(--basic-white);
     border-radius: 2px;
     height:32px;
     width:313px;
     display: grid;
     grid-template-columns: 1fr 1fr;
     text-align: center;
     align-items: center;
     position: relative;
}
 .price-controls input {
     background-color: transparent;
     color: var(--basic-white);
     border:none;
     outline: inherit;
     width: 50px;
     font-size: 14px;
     line-height: 21px;
     font-weight: 400;
}
 .min-price-from::after {
     content:"";
     transform: translate(0px,-2px);
     padding: 0;
     width: 2px;
     height: 22px;
     background: var(--basic-white);
     position: absolute;
     left: 156px;
}
 .min-price-from{
     padding-left: 50px;
}
 .max-price-to {
     padding-left: 30px;
}
 .range-filter {
     background-color: transparent;
     padding: 0;
     margin: 0;
}
 .range-controls {
     margin-top: 20px;
     position: relative;
}
 .range-controls .scale {
     height: 2px;
     background: var(--basic-white);
     opacity: 0.3;
     margin: 0;
     width: 316px;
     margin-bottom: 33px;
}
 .range-controls .bar {
     width: 252px;
     height: 2px;
     color:var(--basic-white);
     opacity: 1;
     position: absolute;
}
 .range-controls .toggle {
     width: 3.82px;
     height: 3.8px;
     padding: 0;
     border: 7.64px solid var(--basic-white);
     background-color: var(--basic-grey-ultra);
     border-radius: 50%;
     box-shadow: 0 1.91px var(--basic-grey-ultra-light);
     position: absolute;
     top: -7px;
}
 .range-controls .toggle-min:hover, .range-controls .toggle-max:hover {
     width: 4.6px;
     height: 4.36px;
     padding: 0;
     border: 9px solid var(--basic-white);
     background-color: var(--basic-grey-ultra);
     border-radius: 50%;
     box-shadow: 0 1.91px var(--basic-grey-ultra-light);
     position: absolute;
     top: -7px;
     left: 0;
}
 .range-controls .toggle-max {
     left: 252px;
}
 .range-controls .toggle-max:hover {
     left: 252px;
}
 .range-controls .toggle-min {
     left: 0px;
}
 .demonstrate-controls {
     margin-left: 84px;
}
/*total-search НАЙДЕНО:3*/
 .sorting {
     min-height: 86px;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     margin: 0;
     padding: 0px 73px;
     border-bottom: 1px solid var(--basic-grey-lighten);
}
 .sorting h3 {
     margin-right: 46px;
     padding: 0;
}
 .sorting h4 {
     margin-right: 40px ;
     padding: 0;
}
 .sort-list {
     margin-right: auto;
     display: flex;
     list-style: none;
     flex-wrap: wrap;
     position: relative;
     padding: 0;
}
 .sort-item:not(:last-child) {
     margin-right: 32px;
}
 .total-search h4, .sort-list {
     font-size: 12px;
     line-height: 18px;
     font-weight: 400;
}
 .sort-list a {
     color: var(--basic-black);
     opacity: 0.3;
}
 .sort-list a:focus {
     color: var(--basic-black);
     opacity: 1;
}
 .sort-item-price {
     color: var(--basic-blue-light);
     opacity: 1;
}
 .sort-item a {
     color: var(--basic-black);
     opacity: 0.3;
     border-bottom: 1px dashed var(--basic-blue-light);
}
 .sort-item a:hover {
     color: var(--basic-blue-light);
     opacity: 1;
     border-bottom: 1px dashed var(--basic-blue-light);
}
 .sort-item a:active {
     color:var(--basic-black);
     opacity: 1;
     border: none;
}
 .button-arrow {
     background-color: var(--basic-white);
     padding:0;
     border:none;
}
 .arrows {
     border:none;
     outline: none;
}
 .button-arrow-up {
     color: var(--basic-grey-special);
     margin-right: 12px;
}
 .button-arrow:hover path {
     fill: var(--basic-black);
}
 .button-arrow:active path{
     fill: var(--basic-blue-light);
}
 .button-arrow-down {
     color: var(--basic-blue-light);
}
/* results-searc Найденные варианты*/
 .total-search h3, .results-search h4 {
     font-size: 21px;
     line-height: 26px;
     font-weight: 700;
}
 .results-search ul {
     padding: 0;
     list-style: none;
}
 .results-search {
     color: inherit;
}
 .results-search p {
     font-size: 14px;
     line-height: 21px;
     font-weight: 400;
}
 .hotel-link {
     color: var(--basic-white);
     text-transform: uppercase;
}
 a.hotel-link {
     font-size: 14px;
     line-height: 21px;
     font-weight: 400;
     padding: 3px 17px 3px 16px;
}
 .hotel-link-details {
     background-color: var(--basic-blue-light);
}
 .hotel-link-details:hover {
     background-color:var(--basic-blue);
     opacity: 1;
}
 .hotel-link-details:active {
     background-color:var(--basic-blue-dark);
     color: var(--basic-grey-light-ultra-neutral);
}
 .hotel-link-booking{
     background-color: var(--basic-brown-light);
}
 .hotel-link-booking:hover {
     background-color:var(--basic-brown);
     opacity: 1;
}
 .hotel-link-booking:active {
     background-color: var(--basic-brown-dark);
     color: var(--basic-grey-light-ultra-neutral);
}
 .rating {
     background-color: var(--brown-ultra-light);
     color: var(--basic-grey);
     text-transform: uppercase;
     padding: 3px 12px 3px 15px;
     margin: 0;
}
 .hotel a, .total-search a {
     color: var(--basic-black);
}
 .total-search .hotel {
     list-style: none;
     padding: 0;
     margin: 0;
}
/*hotel-name*/
 h4.hotel-title {
     font-size: 21px;
     line-height: 26px;
     font-weight: 700;
     padding:0;
     margin: 0;
}
 .hotel-name {
     list-style: none;
     color: var(--basic-black);
     padding: 0;
     margin: 0;
}
 .hotel-name:hover {
     color: var(--basic-blue-light);
}
 .hotel-name:active {
     color:var(--basic-black-light);
}
 .hotel-info{
     flex-grow: 1;
}
/* Grid Сетка на гридах*/
 .page {
     height: 100%;
}
 .page-body {
     min-height: 100%;
     display: grid;
     grid-template-rows: min-content 1fr min-content;
     align-content: start;
}
 .tourism-item p{
     text-align: center;
     max-width: 300px;
     margin-left: 50px;
     margin-right: 50px;
     margin-bottom: 82px;
     padding-bottom: 0;
}
 .feature-item-content p {
     padding: 0;
     width: 262px;
     margin-left: 69px;
     margin-right: 69px;
     text-align: center;
}
 .tourism-list {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     margin: 0;
     padding: 0;
     list-style: none;
     min-height: 330px;
     width: 100%;
}
 .feature-item-one {
     display: flex;
     flex-wrap: wrap;
     align-items: stretch;
     justify-content: flex-start;
}
 .feature-item-one-content, .feature-item-two-content {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: flex-start;
     width: 400px;
}
 .feature-item-two-content {
     text-align: right;
     order:1;
}
 .feature-item-two-content p, .feature-item-one-content p {
     text-align: center;
     margin-left: 49px;
     margin-right: 49px;
}
 .feature-item-one-content h3, .feature-item-two-content h3{
     padding: 0 100px;
     text-align: center;
}
 .feature-item-content h3 {
     width: 160px;
}
 .feature-item-two {
     display: flex;
     flex-wrap: wrap;
     align-items: stretch;
}
 .feature-item-one-photo img{
     height: 100%;
}
 .feature-item-two-photo img{
     height: 100%;
}
 .feature-item-two-content{
     text-align: right;
}
 .application {
     min-height: 291px;
     padding:0 382PX;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: flex-start;
     align-items: center;
}
 .application p {
     padding:0 0 130px 0;
     margin:31px 0 0 0;
     line-height: 24px;
}
 .application-title {
     padding: 0;
     text-transform: uppercase;
     margin: 55px 0 0 0;
     font-size: 30px;
     line-height: 24px;
     font-weight: 700;
}
 .main-footer .footer-container {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     padding-bottom: 7px;
}
 .footer-copyright{
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: flex-end;
     padding-right: 139px;
}
 .footer-copyright-text {
     text-shadow: 0px 4px 4px var(--basic-black-lighten);
     margin-right: 8.2px;
}
/*Сетка на грилах для внутр страницы*/
 .hotels {
     padding:0;
     margin: 0;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: flex-start;
}
 .filter-criterias {
     flex-wrap: wrap;
     display: flex;
     flex-direction: column;
     margin: 0;
     padding: 0;
     border: none;
     font-size: 16px;
     line-height: 21px;
     font-weight: 700;
}
 .filter {
     display: flex;
     flex-wrap: wrap;
     padding:26px 72px;
}
 .filter ul {
     padding: 0;
     margin: 0;
     list-style: none;
     line-height: 18px;
}
 .filter-option:not(:last-child) {
     padding-bottom: 25px;
}
 .filter-option {
     font-size: 14px;
     line-height: 21px;
     font-weight: 400;
}
 .filter-option label {
     position: relative;
     display: block;
     cursor: pointer;
     user-select: none;
}
 .filter-criterias .filter-list{
     padding-left: 40px;
}
 .filter-criterias-house {
     margin-left: 119px;
}
 .filter-criterias legend {
     margin-bottom: 24px;
     margin-left: -5px;
}
 .filter-criterias-price {
     display: flex;
     flex-direction: column;
     margin-left: auto;
     padding: 0;
     border: none;
}
 .filter-criterias-price legend {
     margin-bottom: 10px;
     font-weight: 700;
     font-size: 16px;
     line-height: 21px;
}
 .filter-button {
     background-color: transparent;
     color: var(--basic-white);
     border: 2px solid var(--basic-white);
     padding: 6px 33px 5px 34px;
     align-self: center;
     font-size: 14px;
     line-height: 21px;
     font-weight: 400;
}
 .filter-button:hover {
     background-color: var(--basic-white);
     color: var(--basic-black);
}
 .filter-button:focus {
     background-color: var(--basic-white);
     color: var(--basic-black);
     outline: inherit;
}
 .filter-input-checkbox:not(:checked) + label::before {
     content: "";
     position: absolute;
     left: -39px;
     top: 0;
     width: 19px;
     height: 19px;
     border: 2px solid var(--basic-white);
     border-radius: 15%;
}
 .filter-input-checkbox:checked + label::before {
     content: "";
     position: absolute;
     left: -39px;
     top: 0;
     width: 23px;
     height: 23px;
     background-image: url("../img/border.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
}
 .filter-input-checkbox:checked + label::after {
     content: "";
     position: absolute;
     top: 0px;
     left: -35px;
     width: 21.72px;
     height: 16.76px;
     background-image: url("../img/tick.svg");
     background-repeat: no-repeat;
     background-position: 0 0;
}
 .filter-input-checkbox:focus + label::before {
     outline: thin dotted;
     outline: 5px auto -webkit-focus-ring-color;
}
 .filter-input-checkbox:focus + label::before {
     outline: thin dotted;
     outline: 5px auto -webkit-focus-ring-color;
}
 .filter-input-checkbox:disabled + label, .filter-input-checkbox:checked:disabled + label, .filter-input-checkbox:disabled:hover + label, .filter-input-checkbox:disabled:focus + label {
     color: var(-- --basic-grey-dark);
     pointer-events: none;
}
 .hotels-list {
     padding: 24px 72px;
     margin: 0;
     display: flex;
     border-bottom: 1px solid var(--basic-grey-lighten);
}
 .hotel-photo {
     margin-top: 6px;
     margin-right: 29px;
     padding: 0;
     min-width: 135px;
}
 .hotel-prestige {
     padding: 0;
     margin-left: auto;
     min-width: 110px;
}
 .stars {
     display: flex;
     flex-wrap: wrap;
     justify-content: flex-end;
     margin: 6px 0 42px 0;
}
 .stars li:not(:last-child) {
     padding-right: 6px;
}
 a.hotel-link {
     color: var(--basic-white);
     font-size: 14px;
     line-height: 21px;
     font-weight: 700;
     text-align: center;
}
 .hotel-type, .hotel-booking {
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     justify-content: flex-start;
     align-items: baseline;
}
 .hotel-type {
     margin-right: 6px;
}
 .hotel-class{
     margin: 7px 0 15px 0;
}
 .hotel-reserve{
     display: flex;
     flex-wrap: wrap;
}
 .modal-application-box{
     position: absolute;
     bottom:204px;
     margin-left: 316px;
     margin-right: 316px;
     z-index: 4;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
     align-items: center;
     box-shadow: 0px 7px 15px var(--basic-black-ultra-light);
}
 .modal-application-button {
     background-color: var(--basic-brown-light);
     width: 568px;
     outline: inherit;
     font-size: 21px;
     line-height: 26px;
     font-weight: 700;
     padding: 30px 124px 30px 125px;
     color: var(--basic-white);
     margin: 0;
}
 .modal-application-button:hover {
     background-color:var(--basic-brown);
     opacity: 1;
}
 .modal-application-button:active, .modal-application-button:focus {
     background-color: var(--basic-brown-dark);
     color: var(--basic-grey-light-ultra-neutral);
}
 .modal-application-search {
     background-color: var(--basic-white);
     width: 568px;
}
 .button-search {
     font-size: 21px;
     line-height: 26px;
     font-weight: 700;
     text-transform: uppercase;
     margin-top: 54px;
     background-color: var(--basic-blue-light);
     color: var(--basic-white);
     padding: 16px 182px 16px 181px;
     border:none;
     width: 458px;
     outline: inherit;
}
 .button-search:hover, .button-search:focus {
     background-color:var(--basic-blue);
     opacity: 1;
}
 .button-search:active {
     background-color:var(--basic-blue-dark);
     color: var(--basic-grey-light-ultra-neutral);
}
 .page-footer-one {
     z-index: 3;
     position: absolute;
     bottom: 0;
}
 .map {
     z-index: 2;
     position: relative;
}
 .map img {
     width: 100%;
}
 .feature-item p {
     margin-top: 0;
     margin-bottom: 25px;
}
 .feature-item {
     min-height: 256px;
}
 .feature-item h3 {
     margin-top: 47px;
     margin-bottom: 25px;
     padding-bottom: 0;
}
 .page-body-wrapper {
     width: 1200px;
     margin: 0 auto;
     background-color: var(--brown-ultra-light);
     position: relative;
     box-shadow: 0 15px 30px var(--basic-black-lighten);
}
 .main-header, .container, .main-footer {
     background-color: var(--basic-white);
}
