/*Variables */

:root {
	--basic-white:#FFFFFF;
	--basic-black:#000000;
	--basic-extra-dark:#333333; /*текст*/
	--basic-neutral:#EEEEEE; /*часть фона*/
	--basic-blue-light:#81B3D2;
	--basic-grey-light-neutral:rgba(255, 255, 255, 0.9); /*фон для footer*/
  --basic-grey:#666666;/*текст для рейтинг на внутренней стр.*/
  --basic-grey-light:#BDBBBC; /*нажатие для footer-copyright*/

/*Button*/

  /*для блока "Поиск гостиниц в Седоне и коричневых кнопок*/
  --basic-brown-light:#766357; /*покой*/
  --basic-brown:#604E43;/*наведение*/
  --basic-brown-dark:#503E33;/*нажатие*/
  --brown-ultra-light:#F2F2F2; /*окно подложка покой + рейтинг*/
  --brown-ultra-lighten:#EBEBEB; /*окно подложка наведение*/

/*для голубых кнопок*/
--basic-blue-light:#81B3D2;
--basic-blue:#669EC0;
--basic-blue-dark:#5496BD;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-image: url(".png"); /*подключим картинку*/
  background-position: absolute;
  background-repeat: no-repeat;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Main-header*/

.main-header {
 outline: 5px solid rgba(0, 255, 0, 0.3);
 outline-offset: -5px;
 width: 1200px;
 justify-self: center;
}

.main-header-logo {
 outline: 5px solid rgba(255, 0, 0, 0.3);
 outline-offset: -5px;
 justify-self: center;
  /* order:0; - значение по умолчанию по умолчанию, расположение логотипа*/
}

.main-header-bar {
  background-color: var(--basic-white);
}

/*Main-navigation*/

.main-navigation-wrapper {
 display: grid;
 grid-template-columns: max-content;
 background-color: var(--basic-white);
 width: 1200px;
 margin: 0 auto;
 padding: 0;
}

.main-navigation {
 display: grid;
 font-size: 14px;
 line-height: 26px;
 font-weight: 700;
 color: var(--basic-black);
 background-color: transparent;
}

.main-navigation-wrapper {
  background-color: var(--basic-white);
}


/* User navigation */


.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus {
  background-color: var(--basic-white);
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
}


/*container */

.container {
  text-align: center; 
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

/*Subtitle*/

.subtitle {
  text-align: center;
  line-height: 26px;
}

.subtitle h2 {
  font-size: 21px;
}


/* Features */


.features {
  outline: 5px solid rgba(255, 0, 0 , 0.3);
}

.features-list,
.tourism-list {
 list-style: none;
}

.feature-item,
.tourism-item {
  text-align: center;
}

.features-list {
 margin: 0;
 padding: 0;
}
.section-title {
  font-size: 21px;
  line-height: 21px;
}

.feature-item-content {
  background-color: var(--basic-neutral);
}

.feature-item-one,
.feature-item-two {
   background-color: var(--basic-blue-light);
   color: var(--basic-white);
}

/*button общие критерии*/
.button{
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  }
/* footer*/

.main-footer {
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
  background-color: var(--basic-grey-light-neutral);
  color: var(--basic-black);
  line-height: 26px;
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
  width: 1200px;
  justify-self: center;
}

/*contacts-phone*/

.contacts-phone {
  color: inherit;
}


.footer-contacts {
  font-size: 21px;
  font-weight: 700;
}


/*footer-social соц сети*/

.footer-social {
  text-align: center;}

.footer-social ul {
  list-style: none;
}

/* Social button */

.social-button {
  background-color: var(--basic-blue-light);
  color: var(--basic-white);
}

.social-button:hover {
  background-color: var(--basic-blue);
}
.social-button:active {
  background-color: var(--basic-blue-dark);
}

/*footer-copyright*/

.footer-copyright {
  font-size: 14px;
  font-weight: 400;
}

.copyright {
list-style: none;
color: var(--basic-black);
}

.copyright:hover {
 color: var(--basic-blue-light);
}
.copyright:active {
 color:var(--basic-grey-light);
}

/*Модальные окна*/

.modal {
  color: var(--basic-black);
  background-color: var(--basic-white);
}


/*страница 2 Внутренняя */

/*fieldset*/
fieldset {
  color: var(--basic-white);
  background-color: grey; /*(временно!)место картинки*/ 
}


/*total-search НАЙДЕНО:3*/
.total-search h4,
.sort-list {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;}

  .sopt-item-price {
    color: var(--basic-blue-light);
  }

  .sopt-item {
  list-style: none;
}


/* results-searc Найденные варианты*/

.total-search h3,
.results-search h4 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.results-search ul {
  list-style: none;
}

.results-search {
  color: inherit;
}

.results-search p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;}

.hotel-link {
  color: var(--basic-white);
  text-align: center;
  height: 27px;
  }

.details {
  background-color: var(--basic-blue-light);
  width: 110px;
  }

.booking{
  background-color: var(--basic-brown-light);
  width: 142px;
  }


.rating {
  background-color: var(--brown-ultra-light);
  color: var(--basic-grey);
  text-transform: uppercase;
  width: 110px;
  height: 27px;
  text-align: center;
  }


.hotel a,
.total-search a {
  color: var(--basic-black);
}

.total-search
.hotel {
  list-style: none;
}

/*hotel-name*/

h4.hotel-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.hotel-name {
list-style: none;
color: var(--basic-black);
}

.hotel-name:hover {
 color: var(--basic-blue-light);
}
.hotel-name:active {
 color:var(--basic-grey-light); /*на макете нарисован серый, но цвет указан черный. какой правильный цвет?*/
}

/*Сетка на гридах*/
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}


.tourism-item,
.feature-item {
  text-align: center;
  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
}

.tourism-list,
.feature-item-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 30px;
}

.tourism-item p,
.section-title p {
  margin: 0 20px;
  padding: 20px;
}


.feature-item-one {
 display: grid;
 grid-template-columns: 1fr 2fr;
 outline: 5px solid rgba(255, 0, 0, 0.7);
 margin:0;
 padding: 0;
}

.feature-item-one-photo{
  text-align: right;
  height: 256px;
}

.feature-item-two {
 display: grid;
 grid-template-columns: 2fr 1fr;
 outline: 5px solid rgba(255, 0, 0, 0.7);
 margin:0;
 padding: 0;
}

.feature-item-two-photo{
  text-align: left;
  height: 256px;
}
.feature-item-two-content{
  text-align: right;
  order:1;
}

.main-footer {
 outline: 5px solid rgba(255, 0, 0, 0.3);
 outline-offset: -5px;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-contacts {
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}

.footer-social {
 text-align: center;
 outline: 5px solid rgba(0, 255, 0, 0.7);
 outline-offset: -5px;
}

 .footer-copyright{
 outline: 5px solid rgba(255, 0, 255, 0.7);
 outline-offset: -5px;
}