/*Variables */

:root {
	--basic-white:#FFFFFF;
	--basic-black:#000000;
	--basic-extra-dark:#333333; /*текст*/
	--basic-neutral:#EEEEEE; /*часть фона*/
	--basic-blue-light:#81B3D2;
	--basic-grey-light-neutral:rgba(255, 255, 255, 0.9); /*фон для footer*/
  --basic-grey:#666666;/*текст для рейтинг на внутренней стр.*/
  --basic-grey-light:#BDBBBC; /*нажатие для footer-copyright*/
  --basic-grey-lighten:#E5E5E5;/* border-bottom для 2 стр*/ 
  --basic-grey-special:#CACACA; /*стрелки*/

/*Button*/

  /*для блока "Поиск гостиниц в Седоне и коричневых кнопок*/
  --basic-brown-light:#766357; /*покой*/
  --basic-brown:#604E43;/*наведение*/
  --basic-brown-dark:#503E33;/*нажатие*/
  --brown-ultra-light:#F2F2F2; /*окно подложка покой + рейтинг*/
  --brown-ultra-lighten:#EBEBEB; /*окно подложка наведение*/

/*для голубых кнопок*/
--basic-blue-light:#81B3D2;
--basic-blue:#669EC0;
--basic-blue-dark:#5496BD;
}

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  background-position: absolute;
  background-repeat: no-repeat;

}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*Main-header*/

.main-header {
 width: 1200px;
 justify-self: center;
}

.main-header-logo {
 position: absolute;
 z-index: 3;
  /* order:0; - значение по умолчанию по умолчанию, расположение логотипа*/
}

.main-header-bar {
  background-color: var(--basic-white);
  height: 56px;
}


.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.background-text {
  position: absolute;
}

.image-line{
  position: absolute;
  bottom: 0;
}

/*Main-navigation*/

.main-navigation-wrapper {
 grid-template-columns: max-content;
 background-color: var(--basic-white);
 width: 1200px;
 min-height: 56px;
}

.main-navigation {
 font-size: 14px;
 line-height: 26px;
 font-weight: 700;
 color: var(--basic-black);
 background-color: transparent;
}


/* User navigation */

.main-navigation {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

.site-navigation a {
  color: var(--basic-black);
}


.site-navigation-item {
  color: var(--basic-black);
  width: 300px;
}


  .site-navigation-item a:hover {
  color: var(--basic-blue-light); 
}
  .site-navigation-item a:active {
  color:var(--basic-black);
  opacity: 0.3;
}

.site-navigation-item-hotels {
  color: var(--basic-brown-light);
  }

.site-navigation {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
} 

.site-navigation-item-left {
  text-align: left;
}

.site-navigation-item-right {
  text-align: right;
}

.site-navigation-current a:not([href]) {
  background-color: var(--basic-white);
}

.site-navigation-item:last-child a {
  padding-right: 72px;
  }


.site-navigation-item:first-child a {
  padding-left: 72px;
  }


/*container main */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.page-index {
text-align: center; 
}
/*Subtitle*/

.subtitle {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: 216px;
  padding: 0;
}

.subtitle p {
  width: 1200px;
}

.subtitle-title {
  margin: 42.5px 365px 16.5px;
  font-size: 21px;
  line-height: 26px;
}

/* Features */

.tourism-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.features-list,
.tourism-list {
 list-style: none;
 margin: 0;
}

.features-list {
 margin: 0;
 padding: 0;
}

.feature-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.feature-item-content {
  background-color: var(--basic-neutral);
}

.feature-item-one,
.feature-item-two {
   background-color: var(--basic-blue-light);
   color: var(--basic-white);
}

/*button общие критерии*/
.button{
  font: inherit;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
  outline: none;
  }
/* footer*/

.main-footer {
  background-color: var(--basic-grey-light-neutral);
  color: var(--basic-black);
  line-height: 26px;
  width: 1200px;
  justify-self: center;
}

/*contacts-phone*/

.contacts-phone {
  color: inherit;
}


.footer-contacts {
  font-size: 21px;
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding:0;
  margin: 0; 
}

.footer-contacts p {
  padding:0;
  margin: 0; 
}

/*footer-social соц сети*/

.footer-social ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

/* Social button */

.social-button {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: var(--basic-blue-light);
  color: inherit;
  margin: 36px 3px;
}

.social-button:hover {
  background-color: var(--basic-blue);
}
.social-button:active {
  background-color: var(--basic-blue-dark);
}

.social-button:active path {
  opacity: 0.3;
}

/*footer-copyright*/

.footer-copyright {
  font-size: 14px;
  font-weight: 400;
}

.copyright {
list-style: none;
color: var(--basic-black);
}

.copyright:hover path {
 fill: var(--basic-blue-light);
}
.copyright:active path {
 fill:var(--basic-grey-light);
}

/*Модальные окна*/
.modal-application-search {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.figure-days {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.appointment-form svg {
  padding-top: 8px;
}

.appointment-form input {
  font-size: 14px;
 line-height: 26px;
 font-weight: 700;
 text-transform:uppercase;
}

.window-metrics{
 background: var(--brown-ultra-light);
 width: 320px;
 height: 38px;
 border:none;
 margin-bottom: 29px;
 display: flex;
 justify-content: space-between;
 padding-left: 13px;
 padding-right: 10px;
}
.figure-people {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.figure-person{
 background: var(--brown-ultra-light);
 width: 114px;
 height: 38px;
 border:none;
}


.figure-person input {
  width: 26px;
  text-align: center;
  border:none;
 background-color: transparent;
 padding-top: 6px;
 padding-left: 12px;
 padding-right: 14px;
}

.figure-person:not(:last-child):{
 margin-right: 53px;
}


.window-metrics input {
  color:var(--basic-black);
  text-align: left;
  border:none;
  background-color: transparent;
}

.appointment-form {
  font-size: 14px;
 line-height: 26px;
 font-weight: 700;
  margin: 55px;
}

/*Убрать стрелки для браузера Google Chrome:*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*Убрать стрелки для браузера Firefox:*/

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: number-input;
}
/*Убрать стрелки Для других браузеров */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*страница 2 Внутренняя */

/*filter-search*/
.filter-search {
  color: var(--basic-white);
  background: url("img/background.png");
  width: 1200px;
  height:217;
}

.filter-search-bar {
  min-height: 217px;
}

.filter-list {
list-style: none;
}

.price-controls {
border: 2px solid var(--basic-white);
border-radius: 2px;
height:36px;
width:317px;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
}

.min-price::after {
content:"";
position: absolute;
transform: translateX(49px);
padding: 0;
width: 2px;
height: 22px;
background: var(--basic-white);
}

.range-filter {
  background-color: transparent;
}

.range-controls {
  margin-top: 20px;
  margin-bottom: 33px;
  position: relative;
 }

.range-controls .scale {
  height: 2px;
  background: var(--basic-white);
  opacity: 0.3;
  margin: 0;
  width: 316px;
  }

.range-controls .bar {
  width: 248px;
  height: 2px;
  background:var(--basic-white);
  opacity: 1; /*почему шкала не становится яркой, как сделать?*/
  position: absolute;
}

.range-controls .toggle {
  width: 3.82px;
  height: 3.8px;
  padding: 0;
  border: 7.64px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 1.91px rgba(171, 171, 171, 0.3);
  position: absolute;
  top: -7px;
  left: 0;
}

.range-controls .toggle-min {
  left: 0px;
}

.range-controls .toggle-max {
  left: 248px;
}

.demonstrate-controls {
  margin-left: 84px;
}

/*total-search НАЙДЕНО:3*/

.sorting  {
  display: flex;
  flex-wrap: wrap;
  align-items:baseline;
  margin: 0;
  padding: 0;
}

.sorting {
  border-bottom: 1px solid var(--basic-grey-lighten);
}

.arrows {
  margin-left: 500px; /*как правильно сделать отступ стрелок, чтобы работало переполнение?*/
}


.sorting h3 {
  margin: 29px 46px 31px 73px;
  padding: 0;
}

.sorting h4 {
  margin:31px 40px 37px 0px ;
}

.sort-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
  position: relative;
}
.sort-item:not(:last-child) {
  margin-right: 32px;
}

.total-search h4,
.sort-list {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sort-list a {
  color: var(--basic-black);
  opacity: 0.3;
}

.sort-item-price {
  color: var(--basic-blue-light);
  opacity: 1;
  }

  .sort-item a {
  color: var(--basic-black);
  opacity: 0.3;
}

  .sort-item a:hover {
  color: var(--basic-blue-light); 
  opacity: 1;
}
  .sort-item a:active {
  color:var(--basic-black);
  opacity: 1;
}

.button-arrow {
  background-color: var(--basic-white);
  padding:0;
  border:none;
}

.button-arrow-up {
  color: var(--basic-grey-special);
  margin-right: 12px;
}

.button-arrow:hover path {
  fill: var(--basic-black);
  }

.button-arrow:active path{
  fill: var(--basic-blue-light);
  }

.button-arrow-down {
 color: var(--basic-blue-light);
}

/* results-searc Найденные варианты*/

.total-search h3,
.results-search h4 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.results-search ul {
  padding: 0;
  list-style: none;
}

.results-search {
  color: inherit;
}

.results-search p {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;}

.hotel-link {
  color: var(--basic-white);
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

a.hotel-link {
  display: inline-block;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding: 3px 17px 3px 16px; /*при увеличении текста сверху - кнопки растяшивается, как этого избежать?
   */
 }

.hotel-link-details {
  background-color: var(--basic-blue-light);
  margin-right: 5px; 
  }


 .hotel-link-details:hover {
  background-color:var(--basic-blue);
  opacity: 1;
}

  .hotel-link-details:active {
  background-color:var(--basic-blue-dark);
  color: rgba(255, 255, 255, 0.3);
}


.hotel-link-booking{
  background-color: var(--basic-brown-light);
  }

 .hotel-link-booking:hover {
  background-color:var(--basic-brown);
  opacity: 1;
}

  .hotel-link-booking:active {
  background-color: var(--basic-brown-dark);
  color: rgba(255, 255, 255, 0.3);
}

.rating {
  background-color: var(--brown-ultra-light);
  color: var(--basic-grey);
  text-transform: uppercase;
  padding: 0;
  text-align: center;
  align-self: flex-end;
  padding: 3px 12px 3px 15px
}

.hotel a,
.total-search a {
  color: var(--basic-black);
}

.total-search
.hotel {
  list-style: none;
  padding: 0;
  margin: 0;
}

/*hotel-name*/

h4.hotel-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.hotel-name {
list-style: none;
color: var(--basic-black);
padding: 0;
margin: 0;
}

.hotel-name:hover {
 color: var(--basic-blue-light);
}
.hotel-name:active {
 color:var(--basic-black);
 opacity: 0.3;
}

/* Grid Сетка на гридах*/
.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.tourism-item p{
  text-align: center;
  max-width: 300px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 82px;
  padding-bottom: 0;
}

.feature-item-content p {
  padding: 0;
  width: 262px;
  margin-left: 69px;
  margin-right: 69px;
  text-align: center;
}

.tourism-item img {
  margin-top: 60px;
}

.tourism-list,
.feature-item-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.tourism-list {
  min-height: 330px;
}

.feature-item-one {
 display: grid;
 grid-template-columns: 1fr 2fr;
 margin:0;
 padding: 0;
}

.feature-item-one-photo{
  text-align: right;
  height: 256px;
}

.feature-item-two {
 display: grid;
 grid-template-columns: 2fr 1fr;
 margin:0;
 padding: 0;
}

.feature-item-two-photo{
  text-align: left;
  height: 256px;
}
.feature-item-two-content{
  text-align: right;
  order:1;
  min-height: 256px;
}

.application {
  min-height: 291px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  }

.application p {
  text-align: center;
  margin-left: 383px;
  margin-right: 382px;
  width: 435px;
}

.application-title  {
  margin-top: 58px;
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.main-footer .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; 
}

 .footer-copyright{
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: flex-end;
 padding-right: 139px;
}

.footer-copyright-text {
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 margin-right: 8.2px;
}

/*Сетка на грилах для внутр страницы*/

.hotels {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.filter-criterias {
 flex-wrap: wrap;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 margin: 0;
 padding: 0;
 border: none;
 font-size: 16px;
 line-height: 21px;
 font-weight: 700;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: flex-start;
} 

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 18px;
}

.filter-option {
  margin-bottom: 25px;
   font-size: 14px;
 line-height: 21px;
 font-weight: 400;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-criterias-price legend {
  margin-bottom: 10.5px;
}


.filter-criterias-infrastructure {
  margin-left: 111px;
} 

.filter-criterias-infrastructure legend {
  margin-bottom: 24px;
  margin-left: -39px;
}

.filter-criterias-house legend {
margin-bottom: 24px;
margin-left: -39px;
}

.filter-criterias-price {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.filter-criterias-price legend {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
}

.filter-button {
  background-color: transparent;
  color: var(--basic-white);
  border: 1px solid var(--basic-white);
  padding: 7px 35px 8px 36px;
  align-self: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}

.filter-input-checkbox:not(:checked) + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 19px;
  height: 19px;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 15%; 
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  left: -39px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("img/border.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -35px;
  width: 21.72px;
  height: 16.76px;
  background-image: url("img/tick.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.hotels-list   {
display: flex;
flex-wrap: wrap;
border-bottom: 1px solid var(--basic-grey-lighten);
/*grid-template-columns: 1fr 1fr 1fr;*/
}

.hotel-photo {
  margin-left: 72px;
  margin-right: 24px;
  padding: 0;
  order: -2;
}

.hotel-photo {
margin-top: 30px;
margin-bottom: 30px;
}

.hotel-info {
margin-top: 23.5px;
margin-bottom: 30px;
}

.hotel-prestige {
margin-top: 29px;
margin-bottom: 30px;
margin-left: 522px;
}


.stars {
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

a.hotel-link {
  color: var(--basic-white);
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
}

.hotel-type,
.hotel-booking {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.hotel-reserve{
  display: flex;
}

.modal-application {
  position: fixed;
  top: 205px; /*по фигме 2083px, но если указываю это значение, окно видно только при маленьком расширении, на странице при 100% - не видно, как поступить?*/
  bottom: auto;
  margin-left: 316px;
  margin-right: 316px;
  z-index: 3;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.modal-application-title {
  background-color: var(--basic-brown-light);
  width: 568px;
}

 .modal-application-title:hover {
  background-color:var(--basic-brown);
  opacity: 1;
}

 .modal-application-title h2:active {
  background-color: var(--basic-brown-dark);
  color: rgba(255, 255, 255, 0.3);
}

.modal-application h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 30px 124px 30px 125px;
  color: var(--basic-white);
  margin: 0;
}

.modal-application-search {
  background-color: var(--basic-white);
  width: 568px;
  height: 395px;
}

.button-search {
  background-color: var(--basic-blue-light);
  color: var(--basic-white);
  padding: 16px 182px 16px 181px;
  font-size: 21px;
  line-height: 27px;
  font-weight: 700;
  outline: none;
  border:none;
  width: 458px;
}

 .button-search:hover {
  background-color:var(--basic-blue);
  opacity: 1;
  outline: none;
  border:none;
}

.button-search:active {
  background-color:var(--basic-blue-dark);
  color: rgba(255, 255, 255, 0.3);
  outline: none;
  border:none;
}

.page-footer {
  position: relative;
  z-index: 2;
  bottom: -473px;
}

.map img {
  position: absolute;
  z-index: 1;
  transform: translateX(-600px);
}

.max-price input,
.min-price input {
  background-color: transparent;
  color: var(--basic-white);
  border:none;
  outline: none;
  width: 40px;
}

.max-price,
.min-price {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}


.feature-item p {
  margin-top: 0;
  margin-bottom: 25px;
}

.section-title {
  padding-top: 47px;
  padding-bottom: 0px;
  margin: 0;
}

.feature-item {
  min-height: 256px;
}

.section-title {
  font-size: 21px;
  line-height: 21px;
  align-self: center;
  width: 160px;
  justify-content: center;
  padding: 0;
}

.feature-item h3 {
  margin-top: 47px;
  margin-bottom: 25px;
  text-align: center;
  padding-bottom: 0;
}

.tourism-item h3 {
  margin-top: 30px;
}

.feature-item-two-content p, 
.feature-item-one-content p{
  margin-left: 49px;
  margin-right: 49px;
  text-align: center;
}

.filter-criterias-infrastructure {
  width: 228px;
  margin-right: 40px;
}

.filter-criterias-house {
 width: 228px;
 margin-right: 190px;
}

.filter-criterias-price {
  margin-right: 73px;
  width: 317px;
}

.filter-criterias {
  margin-top: 26.5px;
}
